@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #0077b6;  /* Deep Blue */
    --secondary-color: #00b4d8; /* Light Blue */
    --accent1-color: #52b788;  /* Green */
    --accent2-color: #f77f00;  /* Orange */
    --background-color: #f5f5f5;  /* Light Grey */
    --text-color: #333333;  /* Dark Grey for paragraphs */
    --link-hover-color: #f77f00;  /* Orange for link hover effects */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;  
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: var(--primary-color);
    font-family: 'Bebas Neue', sans-serif; 
    font-weight: bold;
}

p {
    color: var(--text-color);
    line-height: 1.6;
}

.social-links a {
    text-decoration: none;
}

.hero {
    position: relative;
    width: 100%; 
    height: 500px; 
    overflow: hidden; 
    margin-bottom: 10px
  }
  
  .hero img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .hero h1 {
    position: absolute;
    top: 20%;
    left: 10%;
    color: var(--background-color);
    font-size: 48px;
  }
  
  .hero article {
    position: absolute;
    top: 40%;
    left: 10%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    color: var(--text-color);
  }
  
  .hero article img {
    float: right;
    width: 200px;
    height: auto;
    margin-left: 15px;
  }

#hero-text1 {
  position: absolute;
  top: 35%;
  left: 35%;
  font-size: 2.5rem;
  text-align: center;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 10px;
  color: var(--primary-color);
}

.newsletter {
  padding: 20px;
  text-align: center;
  background-color: var(--primary-color);
  margin-top: -110px;
}

.newsletter form {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-weight: bolder;
}

.newsletter h2{
  color: var(--background-color);
  font-weight: lighter;
}

.cta {
  text-align: center;
  margin: 20px 0;
}

.cta-button {
  padding: 10px 20px;
  background-color: var(--accent1-color);
  color: white;
  text-decoration: none;
}

.cta h2{
  margin-bottom: 10px;
  font-size: 3rem;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: var(--secondary-color);
  margin-bottom: 10px;
}

.about-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  #contactus {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .social-links img {
    width: 40px;
    height: 40px;
  }

  header{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: var(--accent1-color);
    padding: 1rem;
    margin-bottom: 10px;
  }

  header img{
    width: 150px;
    height: auto;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  nav a{
    color: var(--background-color);
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
  }

  nav a:hover {
    color: var(--link-hover-color);
  }

  .history, .trips{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
    background-color: var(--secondary-color);
    margin-bottom: 10px;
  }

  .history article {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .history img {
    width: 100%;
    max-width: 200px;
    margin: auto;
  }
  
.history h2 {
    grid-column: 1 / span 3;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 1rem;
  }

  .adventures {
    gap: 1rem;
    padding: 2rem;
    background-color: var(--primary-color);
    margin-bottom: 10px;
  }

  .adventures h2 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 1rem;
  }

  .adventure-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 1rem;
  }

  .adventure-gallery figure {
    text-align: center;
  }
  
  .adventure-gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .adventure-gallery figcaption {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: var(--background-color);
  }

.footer {
  background-color: var(--accent1-color);
  padding: 1rem 2rem;
}

.footer-content {
  display: flex;  
  justify-content: space-between;  
  align-items: center; 
}

.footer-content p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: var(--text-color);
}

.social-links {
  display: flex;
  gap: 1rem; 
}

.social-links img {
  width: 30px;
  height: 30px;
}

/* Company Information Section */
#company-info {
  display: grid;
  background-color: var(--secondary-color);
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 40px;
}

#company-info h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: var(--text-color);
  font-weight: lighter;
}

#company-info p {
  margin: 5px 0;
  color: var(--text-color);
  font-weight: 900;
  font-size: 1.3rem;
}

#map iframe {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 15px;
}

/* Employee Profiles Section */
#team {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 40px;
  background-color: var(--primary-color);
  text-align: center;
  padding: 20px;
}

#team h2{
  color: var(--background-color);
  font-weight: lighter;
}

.employee img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #004466;
  margin-bottom: 10px;
}

.employee figcaption {
  font-weight: bold;
  color: var(--text-color);
}

/* Contact Form Section */
#contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#contact-form h2 {
  font-size: 1.5em;
  color: var(--primary-color);
  margin-bottom: 15px;
}

#contact-form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

#contact-form textarea {
  resize: vertical;
  height: 100px;
}

#contact-form input[type="radio"],
#contact-form input[type="checkbox"] {
  margin-right: 5px;
}

#contact-form button {
  display: inline-block;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

#contact-form button:hover {
  background-color: var(--accent1-color);
}

/* Trip Page Specific */
.trip {
  width: 100% auto;
  text-align: center;
  justify-self: space-between;
}

.trip img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.trip h3{
  font-weight: bolder;
}

.trips h2{
  color: var(--background-color);
  font-weight: lighter;
  grid-column: 1 / span 3;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.trip-table table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: var(--primary-color);
  color: var(--background-color);
}

.trip-table th,
.trip-table td {
  padding: 10px;
  border: 1px solid #ccc;
}